body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.up {
    background-color: #d4edda;
}
.down {
    background-color: #f8d7da;
}