<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Home{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">Riskwise Internship</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/nifty50">Nifty 50</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/nifty100">Nifty 100</a>
            </li>
            <!-- Add more nav items for other components -->
          </ul>
          <ul class="navbar-nav ml-auto">
            <!-- Dynamic generation of top 15 Nifty 50 stocks -->
            {% for stock in top_15_stocks %}
            <li class="nav-item">
              <a class="nav-link" href="#"
                >{{ stock.name }} - {{ stock.price }}</a
              >
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-4">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">Nifty 50</h5>
              <p class="card-text">Top 50 stocks in Nifty index.</p>
              <a href="/nifty50" class="btn btn-primary">View Nifty 50</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">Nifty 100</h5>
              <p class="card-text">Top 100 stocks in Nifty index.</p>
              <a href="/nifty100" class="btn btn-primary">View Nifty 100</a>
            </div>
          </div>
        </div>
        <!-- Add more columns for other components -->
      </div>
    </div>

    <div class="container">{% block content %}{% endblock %}</div>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"
      integrity="sha384-7BKDiWxrFI3eMllP5BzFi9SHDN33T2qEMfYEL/BuqRU6lu7u4d83xzJzwi4Z+XjB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shCk5PLbIy9rBf81jPVgce0odDhPex4t+0pbF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
