{% extends 'base.html' %} {% block title %}Nifty100{% endblock %} {% block
content %}
<div class="container">
  <h1>NIFTY100 Stocks Dashboard</h1>
  <div class="table-container">
    <h2>Top 9 Stocks</h2>
    <table class="styled-table">
      <thead>
        <tr>
          <th>Company</th>
          <th>Open</th>
          <th>High</th>
          <th>Low</th>
          <th>Close</th>
          <th>Volume</th>
          <th>Prediction</th>
        </tr>
      </thead>
      <tbody>
        {% for ticker, stock_data in data.items() %}
        <tr class="{{ 'up' if stock_data['Trend'] == 'up' else 'down' }}">
          <td>{{ ticker }}</td>
          <td>{{ stock_data['Open'] }}</td>
          <td>{{ stock_data['High'] }}</td>
          <td>{{ stock_data['Low'] }}</td>
          <td>{{ stock_data['Close'] }}</td>
          <td>{{ stock_data['Volume'] }}</td>
          <td>{{ stock_data['Prediction'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div id="chart"></div>
  <div id="prediction-chart"></div>
  <img src="{{ heatmap_path }}" alt="Heatmap" />
</div>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
  var data = {{ data | tojson }};
  var options = {
      series: Object.keys(data).map(ticker => {
          return {
              name: ticker,
              data: data[ticker].History
          };
      }),
      chart: {
          type: 'line',
          height: 350
      },
      title: {
          text: 'Stock Prices Over Last 5 Days',
          align: 'left'
      },
      xaxis: {
          categories: data[Object.keys(data)[0]].History.map((_, index) => `Day ${index + 1}`)
      },
      yaxis: {
          title: {
              text: 'Price'
          }
      }
  };
  var chart = new ApexCharts(document.querySelector("#chart"), options);
  chart.render();

  var predictionOptions = {
      series: [{
          name: "Predicted Close Price",
          data: Object.keys(data).map(ticker => data[ticker].Prediction)
      }],
      chart: {
          type: 'bar',
          height: 350
      },
      title: {
          text: 'Predicted Close Prices for Next Day',
          align: 'left'
      },
      xaxis: {
          categories: Object.keys(data)
      },
      yaxis: {
          title: {
              text: 'Price'
          }
      },
      colors: ['#FF4560', '#00E396', '#775DD0', '#FEB019', '#FF4560', '#00E396', '#775DD0', '#FEB019']
  };

  var predictionChart = new ApexCharts(document.querySelector("#prediction-chart"), predictionOptions);
  predictionChart.render();
</script>
{% endblock %}
